@font-face {
  font-family: 'COCOGOOSE';
  src:
    url('../font/cocogoose/Cocogoose_trial.eot?') format('eot'),
    url('../font/cocogoose/Cocogoose_trial.woff') format('woff'),
    url('../font/cocogoose/Cocogoose_trial.ttf') format('truetype'),
    url('../font/cocogoose/Cocogoose_trial.svg#COCOGOOSE') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
