$color_body: #272a31;
$color_title_black: #575757;
$color_title_orange: #ec5242;
$color_title_grey: #7e7e7e;

$color_grey: #d3d3d3;

$font_body: 'Lato', sans-serif;
$font_title: 'COCOGOOSE', sans-serif;
