$color_orange: #ec5242;
$color_grey: #d3d3d3;

$color_body: #272a31;
$color_title_black: #575757;
$color_title_orange: #f9412b;
$color_title_grey: #7e7e7e;
$color_title_white: #fff;

$font_body: 'Lato', sans-serif;
$font_title: 'COCOGOOSE', sans-serif;
