/* Science Festival Site */
@import 'variables';
@import 'font';

* {
  margin: 0;
}

body {
  color: $color_body;
  font-family: $font_body;
}

/* --------  HOME ---------- */

.home {
  padding: 50px 20px 50px 20px;
  background-image: url('../images/mobile_bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: $font_title;
    text-transform: uppercase;
    color: $color_title_orange;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
  }

  h2 {
    padding-top: 40px;
    font-weight: 300;
    color: $color_title_orange;
    font-size: 20px;
  }

  .home_text {
    padding: 15px;
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 13px;
    background-color: #f6f6f6;
    color: $color_title_black;
  }

  .home_date {
    font-family: $font_title;
    font-size: 21px;
    color: $color_title_black;
  }

  .home_place {
    color: $color_title_grey;
    font-size: 14px;
    padding-bottom: 60px;
  }
}

/* --------  PROGRAM ---------- */

.program {
  background-image: url('../images/program_bg.png');
  background-repeat: repeat;
  background-color: #272a32;
  background-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    color: $color_title_white;
    font-size: 16px;
    padding: 10px;
    margin-top: 40px;
  }

  hr {
    text-align: center;
    width: 30px;
    margin-bottom: 15px;
    height: 1px;
    background-color: $color_orange;
    color: $color_orange;
    border: 0 solid $color_orange;
  }

  .program_item_icon {
    width: 10%;
  }

  .program_item_title {
    color: $color_title_orange;
    width: 20%;
  }

  .program_item_text {
    color: white;
    font-size: 12px;
    width: 50%;
  }

  .program_item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #3b3e4582;

    div {
      margin: 10px;
    }

    img {
      width: 90%;
    }
  }

  .see_more {
    display: none;
  }

  .join_summit {
    color: white;
    background-color: $color_title_orange;
    padding: 20px 30px;
    margin: 30px;
    text-decoration: none;
  }
}

/* --------  SPEAKERS ---------- */

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    text-align: center;
    color: $color_title_black;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
  }

  hr {
    text-align: center;
    width: 25px;
    margin-bottom: 15px;
    color: $color_orange;
    background-color: $color_orange;
    height: 2px;
    border: none;
  }

  hr.gray {
    text-align: center;
    width: 25px;
    margin-bottom: 15px;
    color: $color_grey;
    background-color: $color_grey;
    height: 1px;
    border: none;
  }

  .speakers_item {
    display: flex;
    margin-bottom: 20px;

    div {
      padding-bottom: 10px;
    }
  }

  .speakers_list {
    padding: 20px;
  }

  .speakers_item_speaker_name {
    font-weight: bold;
  }

  .speakers_item_speaker_title {
    color: $color_orange;
    font-size: 14px;
    font-style: italic;
  }

  .speakers_item_cursus {
    font-size: 12px;
  }

  .speakers_item_photo {
    background-image: url('../images/damier.png');
    background-repeat: no-repeat;
    background-size: 45% 40%;
    padding: 18px 10px 20px 10px;
  }

  .load_more_speakers {
    width: 90%;
    padding: 10px;
    border: 1px solid $color_grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $color_orange;
      font-size: 16px;
      padding-left: 15px;
    }
  }
}
